<h2>Messages</h2>

<div class="row">
    <div class="col-12 mb-3">
        <form>
            <div class="mb-3">
                <label class="form-label">Topic</label>
                <input type="email" class="form-control">
            </div>

            <div class="mb-3">
                <label class="form-label">Text</label>
                <textarea class="form-control" rows="6"></textarea>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <hr />

    <div class="col-12">
        <div class="card mb-2" style="width: 500px;">
            <div class="card-body">
                <h5 class="card-title">My topic is blahblahblah3</h5>
                <h6 class="card-subtitle mb-2 text-muted">Ahmed Mohamed</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                <button class="btn btn-default btn-sm" data-toggle="collapse" data-target="#collapseMessage-1">Reply</button>
                <button class="btn btn-success btn-sm">Edit</button>
                <button class="btn btn-danger btn-sm">Delete</button>
                
                <div class="collapse" id="collapseMessage-1">
                    <form>                        
                        <div class="mb-3 mt-1">
                            <label class="form-label">Text</label>
                            <textarea class="form-control" rows="3"></textarea>
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>

                @*<div class="card-body">
                    <h5 class="card-title">card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">card subtitle</h6>
                    <p class="card-text">some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">card link</a>
                    <a href="#" class="card-link">another link</a>
                </div>*@
            </div>
        </div>

         <div class="card" style="width: 500px;">
            <div class="card-body">
                <h5 class="card-title">My topic is blahblahblah</h5>
                <h6 class="card-subtitle mb-2 text-muted">Eslam Mohamed</h6>
                <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the card's content.
                </p>

                <button class="btn btn-default btn-sm" data-toggle="collapse" data-target="#collapseMessage-2">Reply</button>                
                <button class="btn btn-success btn-sm">Edit</button>
                <button class="btn btn-danger btn-sm">Delete</button>

                <div class="collapse" id="collapseMessage-2">
                    <form>                        
                        <div class="mb-3 mt-1">
                            <label class="form-label">Text</label>
                            <textarea class="form-control" rows="3"></textarea>
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>


                <div class="card-body">
                    <h5 class="card-title">My topic is blahblahblah4</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Youssef Seif</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                    <button class="btn btn-success btn-sm">Edit</button>
                    <button class="btn btn-danger btn-sm">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>